h1,h2,h3,h4,h5 {
	font-family: Times new Roman, sans-serif;
	font-weight: normal;
	font-style: italic;
	margin-top:0px;
}
h4 {
	margin-top:3%;
	margin-bottom:3%;
}
.container {
	width:400px;
	margin-left:auto;
	margin-right:auto;
	border-radius:2px;
	padding:1%;
	background-color:#eee;
}
.inner_block {
	width:49%;
	display:inline-block;
	vertical-align:top;
}
input {
	width:75%;
	float:left;
	border-color:#ccc;
	border-width:1px;
	border-right-width:0px;
	border-style:solid;
	padding-top:6px;
	padding-bottom:6px;
	border-radius:1px;
	margin-top:0px;
}
.reveal_button_container {
	width:30px;
	height:30px;
	display:inline-block;
	border-radius:1px;
	border-width:1px;
	border-style:solid;
	border-left-width:0px;
	box-sizing:border-box;
	border-color:#ccc;
	background:#ffffff;
}
.reveal_button {
	width:100%;
	height:100%;
	background-image: url('eyeball.png');
	cursor:pointer;
}
.progressbar_container {
	width:100%;
	height:30px;
	padding-top:5px;
	padding-bottom:5px;
	box-sizing:border-box;
}
.progressbar_background {
	width:100%;
	height:20px;
	background:#ccc;
	border-radius:3px;
}
.progressbar_bar {
	width:0%;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
	height:20px;
}
.progressbar_bar_full {
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
}
.messagecontainer {
	color:#444;
	margin-bottom:1%;
	font-size:.8em;
	line-height:20px;
	word-wrap:normal;
}
.percentage_box {
	position:absolute;
	line-height:20px;
	font-size:.7em;
	margin-left:5px;
}
